.sub-titulo{
    color: rgb(212, 23, 149);
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 15px;
    
}
.titulo-e{
    background-color:rgb(147, 28, 177);
    text-align: center;
    margin-top: 7px;
    color: white;
}
.texto-e{
    margin-left: 15px;
    width: 1100px;
}