.mapa{
margin-left: 250px;
margin-top: 20px;

}
.texto-u{
    margin-bottom: 40px;
    margin-left: 20px;
    h1{
        color: rgb(212, 23, 149);
    }
    h2{
        color: rgb(212, 23, 149);
    }
}