

@media  screen and (max-width: 500px){
    .logo {
        display: none;
    }
    .section-info {
        flex-direction: column;
    }
    .foto-1 {
        height: 350px;

    }
    .contenedor-texto {
        width: auto;
    }
    p {
        text-align: left;
        width: 350px;

    }
    h1 {
        text-align: right;
        width: 350px;
    }
}
